<div class="navbar navbar-fluid-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_path %>"> <%= image_tag 'shadow/bambury_leinster_logo.png', :size => "130x26" %> </a>

      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><%= link_to "Bet Online BetPack", "http://www.betpack.com/" %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Locations
              <b class="caret"></b>
            </a>
            <ul class="locations dropdown-menu">
              <li class="county">Kildare</li>
              <li> <%= link_to "Main St, Sallins", "#" %> </li>
              <li> <%= link_to "Main St, Clane", "#" %> </li>
              <li> <%= link_to "Cornerhouse, Clane", "#" %> </li>
              <li class="divider"></li>
              <li class="county">Meath</li>
              <li> <%= link_to "Kellys, Ashbourne", "#" %> </li>
              <li> <%= link_to "Stagshead, Ashbourne", "#" %> </li>
              <li> <%= link_to "Main St, Dunshaughlin", "#" %> </li>
              <li class="divider"></li>
              <li class="county">Dublin</li>
              <li> <%= link_to "Main St, Rush", "#" %> </li>
              <li> <%= link_to "Lusk, Village", "#" %> </li>
              <li> <%= link_to "Artane, Butterly Business Park", "https://maps.google.ie/maps?q=Bambury+Bookmakers+Artane&hl=en&sll=53.32432,-6.251695&sspn=0.259607,1.058121&t=h&z=16&iwloc=A" %> </li>
              <li> <%= link_to "Boroimhe, Swords", "#" %> </li>
              <li> <%= link_to "Rathborne, Ashtown", "#" %> </li>
              <li> <%= link_to "Main St, Blanchardstown", "#" %> </li>
              <li> <%= link_to "Griffeen, Lucan", "#" %> </li>
            </ul>
          </li>
          <li><%= link_to "Betting Rules", image_path("Bambury A2 Betting Poster 1st January 2014.pdf")  %></li>
          <li><%= link_to "Feedback", "/path3" %></li>
          <li><%= link_to "Blog", "/blog" %></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>